{% extends "base.html" %}
{% block content %}
<div class="container">
    <div class="row">
        <h1>Privacy Policy</h1>
        <p>
        <i>published July 14, 2019</i>
        </p>

        <p>
        This page explains what data we collect and what we use it for.
        Changes to this policy will be published here and sent to users' primary email addresses.
        Past versions of this page are available on request.
        </p>

        <p>
        <b>Here is what we will never do with your data:</b>
        </p>
        <ul>
            <li>we will never serve content besides your own plugs to your properties without your consent</li>
            <li>we will never email you advertisements for other products</li>
            <li>we will never share your data with third parties except as explained below</li>
        </ul>

        <p>
        <b>Here is what we may do with your data:</b>
        </p>
        <ul>
            <li>we may allow <a href="https://www.google.com/analytics">Google Analytics</a> to indefinitely store anonymous information about your interaction with the site as governed by their <a href="https://support.google.com/analytics/answer/6004245?hl=en">privacy policy</a> to better understand aggregate user behavior</li>
            <li>if you enable the Google Analytics export feature, we may allow Google Analytics to indefinitely store anonymous events that track user engagement with your plugs</li>
            <li>we may allow <a href="https://www.humio.com/">Humio</a> to temporarily store any information logged by the site for up to seven days to assist in debugging as governed by their <a href="https://humio.github.io/legal/humio-privacy-statement">privacy policy</a></li>
        </ul>
    </div>
</div>
{% endblock content%}
