<p style="text-align: center">
  <span id="example-plug"></span>{% if include_powered_by %}
  <span style="font-size: 75%">
    <br/>
    Powered by <a href="https://www.plugserv.com/">Plugserv</a>
  </span>{% endif %}
</p>

<script>
  window.plugserv_config = {
    elementId: 'example-plug',
    endpoint: '{{ serve_url }}'
  };
</script>

<script async
  src="{{ js_url }}"
  integrity="sha384-Ngv41QqyGqgFyjzQseAmANPgTafxpqZ3fRcQXsShP02KwdzUy9VzIrp/ARgmFEql"
  crossorigin="anonymous">
</script>{% comment %} this is only intended for use through the snippet custom tag {% endcomment %}
