{% extends "base.html" %}
{% block content %}
<div class="container">
    <div class="row">
        <h1>Terms of Service</h1>
        <p>
        <i>published July 14, 2019</i>
        </p>

        <p>
        You must agree with the terms on this page to use Plugserv.
        Changes to the contents of this page will be published here and sent to users' primary email addresses.
        Past versions of this page are available on request.
        </p>

        <p>
        <b>You agree that:</b>
        </p>
        <ul>
            <li>your account may be disabled if your plugs contain illegal or otherwise objectionable content</li>
            <li>the site may be periodically unavailable</li>
            <li>if your plugs are causing excessive load, we will email you and your plugs may be cached (which would affect exported metric accuracy if enabled)</li>
        </ul>
    </div>
</div>
{% endblock content%}
