{% extends "rest_framework/base.html" %}

{% comment %}
body - The entire html <body>.
bodyclass - Class attribute for the <body> tag, empty by default.
bootstrap_theme - CSS for the Bootstrap theme.
bootstrap_navbar_variant - CSS class for the navbar.
branding - Branding section of the navbar, see Bootstrap components.
breadcrumbs - Links showing resource nesting, allowing the user to go back up the resources. It's recommended to preserve these, but they can be overridden using the breadcrumbs block.
script - JavaScript files for the page.
style - CSS stylesheets for the page.
title - Title of the page.
userlinks - This is a list of links on the right of the header, by default containing login/logout links. To add links instead of replace, use {{ block.super }} to preserve the authentication links.
{% endcomment %}

{% block branding %}
<a class="navbar-brand" href="https://www.plugserv.com/">
    Plugserv
</a>
{% endblock %}

{% block userlinks %}
    {% if user.is_authenticated %}
        <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                {{ user }}
                <b class="caret"></b>
            </a>
            <ul class="dropdown-menu">
                <li><a href="{% url 'account_logout' %}">logout</a></li>
            </ul>
        </li>
    {% else %}
        <li><a href="{% url 'account_login' %}">login</a></li>
    {% endif %}
{% endblock %}
